@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: auto;
    width: 100%;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(0,16,4);
    background: radial-gradient(circle, rgba(0,16,4,1) 0%, rgba(14,38,93,1) 50%, rgba(0,8,2,1) 100%);
    @apply text-greyish-300; 
    @apply contrast-125
}

* {
    scroll-behavior: smooth;
}

@layer components {
   
    .linear-gradient-rainbow {
      background-image: linear-gradient(to right, 
          #ff69b4 10%, 
          #ffd700 20%, 
          #ffff00 30%, 
          #008000 40%, 
          #0000ff 50%,
          #ff69b4 60%, 
          #ffd700 70%, 
          #ffff00 80%, 
          #008000 90%, 
          #0000ff 100%);
  }

  button {
    @apply shadow-sm mt-4 shadow-gray-300 rounded-lg text-2xl lowercase mx-2 p-2 text-white tracking-widest
  }

  .input{
    @apply mb-5 shadow-gray-300 border-2 border-ribbon-900 w-full rounded-lg bg-transparent px-5 py-3 placeholder:text-white placeholder:tracking-widest placeholder:lowercase;
  }
}
